@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: bold;
    src: url(Atkinson-Hyperlegible-Bold-102.otf);
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: normal;
    src: url(Atkinson-Hyperlegible-Regular-102.otf);
}
*{--red: #cc1919; transition: all .25s cubic-bezier(.08,.82,.17,1)}
body{background-color: white; color: black; font-size: 1.125rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 16px; line-height: 1.25;}

::selection{background-color: var(--red); color: white}

header{width: fit-content; 
    padding: min(6px, 1.5vw) min(12px, 3vw); background-color: var(--red); }
header h1{font-size: min(2em, 8vw); color: white}

li{font-size: 1.5rem; margin: 8px 0}
ul a{font-weight: bold; text-decoration-thickness: 2px;}
ul{padding-left: 16px}

main{max-width: 40rem; margin: auto; padding: 16px}

header h1{margin: 0}
h1, h2, p{margin-bottom: 8px}
h3{color:white; background-color: var(--red);
    padding: 8px}

a{color: black; text-decoration-color: var(--red);}
a:hover{color: var(--red)}

h2::before{content:"- "; color: var(--red)}
h2{margin-top: 24px;}

img{max-width: 100%; margin: 24px 0; border-radius: 8px;}

nav ul{font-size: 1.5rem}
nav ul a{font-weight: bold;}
li{list-style-type: "- ";}
::marker{color: var(--red)}

.coord{font-weight: bold; color: var(--red)}

.imagens{max-width: 100%; display: flex; gap: 8px}
.imagens img{width: 100%; margin: 0}

#voltar{position: sticky; top: 16px; display: flex; gap: 8px}
#voltar a{background-color: white; padding: 6px 12px 4px; color: black; border: 2px white solid;
    text-decoration: none; outline: 1px solid var(--red); outline-offset: -3px}
#voltar a:hover{border-radius: 16px; background-color: var(--red); color: white;}

@media (max-width: 400px) {
    .imagens{flex-direction: column;}
}